* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 51, 51);
}

.container {
    max-width: 960px;
    width: 100%;
    padding: 100px 300px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

header h1 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto Serif", serif;
}

header img {
    height: 32px;
    margin-right: 16px;
}

form  {
    display: flex;
}

form input {
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

form input:focus {
    background-color: rgb(223, 248, 223);

}

form button {
    background-color: green;
    border: 1px solid rgb(7, 158, 32);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:active {
    background-color: rgb(6, 104, 6);
}

.form-contatos {
    margin: 50px 200px 20px;
}

.form-contatos h3 {
    color: white;
    font-size: 22px;
    font-family: "Roboto Serif", serif;
    font-weight: 400;
}

.table-head {
    display: flex;
    width: 450px;
    border-bottom: 2px solid grey;
}

.table-head p {
    color: white;
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 18px;
    font-family: "Roboto Serif", serif;
}

table {
    width: 450px;
}

table td {
    font-size: 14px;
    color: white;
    padding: 10px 12px;
    max-width: 30px;
    border-bottom: 1px solid rgb(86, 88, 86);
    font-family: "Roboto Serif", serif;
}
